/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * paralucent-stencil:
 *   - http://typekit.com/eulas/00000000000000003b9ad9fe
 *
 * c 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-05-30 06:31:23 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=lbk8nvf&ht=tk&f=28038&a=5242074&app=typekit&e=css");

@font-face {
font-family:"paralucent-stencil";
src:url("https://use.typekit.net/af/07945d/00000000000000003b9ad9fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/07945d/00000000000000003b9ad9fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/07945d/00000000000000003b9ad9fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

.tk-paralucent-stencil { font-family: "paralucent-stencil",sans-serif; }