@charset "UTF-8";

* {
	/* 	background: black; */
	padding: 0;
	margin: 0;

}

canvas {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#starfield {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#body {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}

.wrapper {
    position: relative;
    text-align: center;
    width: auto;
}

.logo img{
    position: absolute;
    top: -350px;
    left: -120px;
    width: 480px;
    height: 285px;
    z-index: -10;
}

#login {
  color:white;
  text-shadow: 1px 1px 2px,teal 0 0 20px
}


input{
	color:#000;
}
a{
	text-shadow:none;
	color:blue;
}


.astronaut {
    position: absolute;
    top: -150px;
    left: -250px;
    width: 710px;
    height: 599px;
    z-index: -20;
}

h1 {
	text-align: center;
}

/* div#loginInput {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
} */
